
#founder .row .row .fou_line_height {
    line-height: 18px;
}

#founder .row .founder_content .btn {
    background-color: #0e5af2;
    font-weight: 500;
    font-size: 20px;
}

#biography .container .row {
    min-height: 434px;
    padding: 104px 8px;
    background-image: url(./Assets/image/bio_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.pro_out{
    box-shadow: 0px 10px 31px rgba(169, 177, 193, 0.17);
    border: 1px solid #d5e0f5;
    height: 16px;
    padding: 4px;
    border-radius: 10px;
    background-color: #fff;
}
.pro_inner{
    height: 100%;
    background-color: #0e5af2;
    border-radius: inherit;
    box-shadow: 0px 10px 31px rgba(169, 177, 193, 0.17);
}

#message_form .container form input, #message_form .container form textarea {
    background-color: #eff1f5;
    border: none !important;
    outline: none;
}

#message_form .container .form form {
    width: 75%;
}