* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#kboard_product .container .row .l_content .l_l_content .availability {
    font-weight: 700;
}
#kboard_product .container .row .l_content .form_content .icons  {
        top: 10px;
}
#kboard_product .container .row .l_content .form_content .icons i:hover  {
    background-color: #0e5af2;
    color: #fff;
}
.btn_add_to_cart{
    background-color: #0e5af2;
    color: #fff;
    padding: 10px 22px;
    font-size: 17px !important;
}
.btn_add_to_cart:hover{
    color: #fff;
}
.btn_hover_style{
    font-size: 16px !important;
}
#kboard_product .container .row .l_content .form_content .icons i  {
    border: 2px solid #d1ecff;
}
#kboard_product .container .row .l_content  {
    padding-top: 130px;
}

.fw-700 {
    font-weight: 700;
}

.afr_line::after {
    content: " ";
    display: block;
    height: 2px;
    width: 42px;
    background-color: #0e5af2;
}

#post_review .content form .name_email {
    gap: 35px;
}

#post_review .content form input, #post_review .content form textarea {
    border: none;
}
#post_review .content form input:focus, #post_review .content form textarea::focus{
    outline: none;
}

input:focus , textarea:focus{
    outline: none;
}

/* ------5 start review---------------- */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #0e5af2;   
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #0e5af2; 
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #0e5af2;
}

/* ------5 start review-end--------------- */




#related_products .accessories .accessories_sale{
    background-color: #0e5af2;
    top: 20px;
    left: 20px;
    color: #fff;
}
#related_products .accessories:hover{
    background-color: #0e5af2;
    color: #fff;
    border: 3px solid #0e5af2;
}
#related_products .accessories .accessories_current_price{
    font-size: 21px;
}
#related_products .accessories:hover .accessories_current_price{
    color: #fff !important;
}
#related_products .accessories .btn_add_to_cart{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -100px) scale(0.8);
    background-color: #0e5af2;
    color: #fff;
    opacity: 0;
}
#related_products .accessories:hover .btn_add_to_cart{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -70px) scale(1);
    background-color: #0e5af2;
    color: #fff;
    opacity: 1;

}

/* ------------------------ */
#related_products .accessories .btn_hover_box i{
    top: 53.5%;
    right: 61%;
    left: 35%;
    transform: translate(-50% , -100px) scale(0.8);
    color: #fff;
    opacity: 0;
}
#related_products .accessories:hover  .btn_hover_box i{

    top: 52.5%;
    right: 64%;
    left: 35%;
    transform: translate(-50% , -70px) scale(1);
    opacity: 1;
}
